*{
  padding: 0;
  margin: 0;
}
.content{
  padding: 50px;
}
.wallpaper{
  width: 100%;
  background: linear-gradient(135deg, rgba(225, 112, 85,0.8),rgba(232, 67, 147,0.8),rgba(108, 92, 231,0.8),rgba(46, 82, 226, 0.8),rgba(9, 132, 227,0.8)), url(/images/respWebsite/topography.svg);
  background-repeat: repeat;
  background-attachment: fixed;
}
header{
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
header nav{
  width: 100%;
  display: flex;
}
header nav ul{
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  position: relative;
  list-style: none;
}
header nav ul li{
  padding: 0;
  display: inline;
}
header nav ul li a{
  display: block;
  text-decoration: none;
  padding: 8px 10px;
  color: #272727;
  font-size: 20px;
  font-weight: 900;
  background: #ffc600;
  text-align: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
}

.container{
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-gap: 120px;
  grid-template-areas: "container container box2" ;
}

.box1{
  width: 100%;
  grid-area: container;
  max-height: 400px;
  background: white url(/images/respWebsite/taco.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.box1 h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: 700;
  background: #ffc600;
  color: #272727;
  padding: 10px;
  margin-bottom: 10px;
}
.box1 p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  background: #ffc600;
  color: #272727;
  padding: 10px;
  margin-bottom: 10px;
}

.banner .container .box2{
  background: #ffc600;
  color: #272727;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  justify-content: center;
}
.box2 h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 70px;
  font-weight: lighter;
  background: #ffc600;
  color: #272727;
}
.box2 p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  background: #ffc600;
  color: #272727;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.banner .container .box3{
  background: #ffc600;
  color: #272727;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  justify-content: center;
}
.box3 h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 80px;
  background: #ffc600;
  color: #272727;
  font-weight: lighter;
}
.box3 p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  background: #ffc600;
  color: #272727;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.extras{
  margin-top: 20px;
}
.extras .features{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.extras .features .feature{
    background: white;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.extras .features .feature .icon{
  font-size: 50px;
}
.extras .features .feature h3{
  font-size: 23px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px;
}
.extras .features .feature p{
  font-size: 16px;
  color: #686868;
  text-shadow: 0 2px 0 rgb(0 0 0 / 7%);
  font-weight: 700;
  padding: 10px;
}
.about{
  width: 100%;
  margin-top: 20px;
}
.about .info{
  display: grid;
  grid-template-columns: 470px 1fr;
  padding: 10px;
  background: white;
}
.about .info .tacoimg{
  grid-area: tacoimg;
  display: grid;
  width: 100%;
  min-height: 400px;
  background: url(/images/respWebsite/queso-taco.png);
  background-position: left;
  background-repeat: no-repeat;
  margin-left: 50px;
}
.about .info .learn{
  width: 100%;
  display: inline;
  justify-content: center;
  margin: auto 15px;
  line-height: 2em;
}
.about .info .learn h2{
  display: block;
  font-size: 25px;
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 0 2px 0 rgb(0 0 0 / 7%);
  letter-spacing: -1px;
}
.about .info .learn p{
  display: block;
  font-size: 16px;
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000000;
  text-shadow: 0 2px 0 rgb(0 0 0 / 7%);
  letter-spacing: -1px;
}
.about .info .learn .btn{
  display: block;
  font-size: 12px;
  background: #ffc600;
  border: none;
  padding: 18px;
  letter-spacing: 2px;
  transition: 0.5s;
  cursor: pointer;
}
.divide{
  margin-top: 20px;
}
.divide .lines{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
}
.lines .line1{
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, left), #ffc600, transparent);
}
.divide .instantgram{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: #272727;
}
.lines .line2{
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, right), #ffc600, transparent);
}
.instant{
  margin-top: 10px;
  width: 100%;
  display: grid;
}
.instant .photos ul{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.instant .photos ul li{
  width: 100%;
  list-style: none;
}
.instant .photos ul li img{
  max-width: 100%;
}
.imge{
  max-width: 100%;
}


@media screen and (max-width: 610px){
  .container {
    max-width:300px ;
    grid-gap: 20px;
    grid-template-areas:
        "container" 
        "price";      
  }
  .container .box1{
    width: 100%;
    display: flex;
  }
  .price{
    justify-content: center;
    max-width: 600px;
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  }
  
  .bar .navigation ul li{
    display: none;
  }
  .about .info{
    height: 550px;
  }
  .about .info .learn{
    display: block;
    position: absolute;
    margin-top: 350px;
  }
}
